body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}




.login .login_form_Title { text-align: center;	line-height: 300%;}
	
.login .socialButtons a {color: white;  opacity:0.9;}
.login .socialButtons a:hover {color: white;opacity:1;    }
.login .socialButtons .omb_btn-facebook {background: #3b5998;}
.login .socialButtons .omb_btn-twitter {background: #00aced;}
.login .socialButtons .omb_btn-google {background: #c32f10;}


.login .login_Or_Signup {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.login .login_Or_Signup .horizontalr_bar {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.login .login_Or_Signup .span_horizonatl_line {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.login .loginForm .input-group.i {
	width: 2em;
}
.login .loginForm  .help-block {
    color: red;
}
.bottom_space{margin-bottom: 10px;}
.pswd_space{margin-bottom: 20px;}

	.login {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
}
@media (min-width: 768px) {
    .login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}
 	 .login-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }		
}
